.calculator{
  padding: 20px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
}
#result{
	margin: 10px 10px;
  height: 5vh;
  width: 65%;
}

.btn{
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 20px 4px 10px 0;
  border-radius: 1px;

}

.btn:hover{
  background-color:#9E9E9E;
  color: white;
}

body {
  width: 400px;
  margin: 4% auto;

}
